.actions {
    margin-top: 3em;
    padding: 0;

    .action-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }

    .action-grid a {
        text-decoration: none;
        color: #918d85;
    }

    .action {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 64px;
        margin: .5rem;
        box-shadow: yellow;
        background: #c1bdb6;
        border-radius: 0.45rem;
        transition: background-color .5s;
    }

    // .apps-item:hover {
    //     background-color: var(--bg-hover) !important;
    // }
    
    .action > .action-text {
        transition: padding-top .5s;
    }
    
    .action:hover > .action-text {
        padding-top: 15px;
    }
    
    .action-icon {
        height: 64px;
        margin: 0 1em;
        padding-top: 13px;
    }
    
    .icon {
        font-size: 2.5em;
    }
    
    .action-text {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .action-text span {
        font-size: 1em;
        font-weight: 500;
        text-decoration: none !important;
    }
    
    .action-text span:nth-child(2n) {
        color: var(--bg-hover);
        font-size: 0.8em;
        text-transform: lowercase;
    }
}