.action-group {
    h2.action-group-title {
        font-family: ZillaSlabRegular;
        color: #8f8e8b;
        margin: 0.5rem;
        background: #b9b9b4;
        padding: 0 0.35em;
        display: inline-block;
        border-radius: 0.45rem;
    }
}