.actions {
    margin-top: 3em;
    padding: 0;

    .action-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }

    .action-grid a {
        text-decoration: none;
        color: #918d85;
    }

    .action {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: .5rem;
        background: #b9b9b4;
        border-radius: 0.45rem;
    }
    
    .action-icon {
        margin: 0 auto;
        padding: 1.5em;
    }
    
    .icon {
        font-size: 5.5em;
        color: #8f8e8b;
    }

    .action:hover .icon {
        color: #646461;
        transition: color .5s;
    }
}