.search {
    margin-top: 20em;
    padding: 0.75em;

    border-radius: 0.45rem;
    background-color: #b9b9b4;

    .input-group .engines {
        ul {
            margin: 0 0.75em 0 0;
        }

        a {
            font-size: 1.5em;
            color: #8f8e8b;
        }

        a.active {
            color: #646461;
        }
    }

    .input-group input {
        background: #e4e3dd;
        border: none;
    }

    .input-group button:hover {
        background-color: #918d85;
    }
}