.search {
    margin-top: 20em;
    padding: 0.75em;

    border-radius: 0.45rem;
    background-color: #c1bdb6;        

    .input-group button {
        width: 4.5em;
    }

    .input-group button:hover {
        background-color: #918d85;
    }
}